<ul class="nav__items list">
    <li class="nav__item {% if recipes_page %} nav__item_active {% endif %}
    {% if auth_page %} nav__item_disabled {% endif %}"><a 
        href="{% url 'index' %}" class="nav__link link">Рецепты</a>
    </li>
{% if user.is_authenticated %}
    <li class="nav__item {% if subscriptions_page %} nav__item_active {% endif %}"><a 
        href="{% url 'subscriptions' %}" class="nav__link link">Мои подписки</a>
    </li>
    <li class="nav__item {% if new_recipe_page %} nav__item_active {% endif %}"><a 
        href="{% url 'new_recipe' %}" class="nav__link link">Создать рецепт</a>
    </li>
    <li class="nav__item {% if favourites_page %} nav__item_active {% endif %}"><a 
        href="#" class="nav__link link">Избранное</a>
    </li>
    <li class="nav__item {% if purchases_page %} nav__item_active {% endif %}"><a 
        href="#" class="nav__link link">Список покупок</a><span 
        class="badge badge_style_blue nav__badge" id="counter">4</span>
    </li>
</ul>
<ul class="nav__items list">
    <li class="nav__item {% if password_change_page %} nav__item_active {% endif %}"><a 
        href="{% url 'password_change' %}" class="nav__link link">Изменить пароль</a>
    </li>
    <li class="nav__item"><a href="{% url 'logout' %}" class="nav__link link">Выход</a></li>
</ul>
{% else %}
</ul>
<ul class="nav__items list">
    <li class="nav__item {% if login_page %} nav__item_active {% endif %}"><a 
        href="{% url 'login' %}" class="nav__link link">Войти</a>
    </li>
    <li class="nav__item"><a href="{% url 'signup' %}" class="button button_style_blue">Создать аккаунт</a></li>
</ul>
{% endif %}