{% extends "base.html" %}
{% block title %} Новый пароль {% endblock %}
{% block static %}
    {% load static %}
    {% if validlink %}
        <link rel="stylesheet" href="{% static 'pages/form.css'%}">
    {% else %}
        <link rel="stylesheet" href="{% static 'pages/index.css'%}">
    {% endif %}
{% endblock %}
{% block nav %}
    {% include "header.html" with auth_page=True %}
{% endblock %}
{% block content %}
    {% if validlink %}
        <div class="main__header">
            <h1 class="main__title">Новый пароль</h1>
        </div>
        <div class="form-container">
            <form class="form" method="post">
                {% csrf_token %}
                {% load widget_tweaks %}
                <p class="form__info-text">
                    Введите новый пароль
                </p>
                {% for field in form %}
                    <div class="form__group">
                        <label for="{{ field.id_for_label }}" class="form__label">{{ field.label }}</label>
                        <div class="form__field-group">
                        {{ field|add_class:"form__input" }}
                        {% if field.help_text %}
                            <span class="form__input-info">{{ field.help_text|safe }}</span>
                        {% endif %}
                        {% for error in field.errors %}
                            <span class="form__error">{{ error }}</span>
                        {% endfor %}
                        </div>
                    </div>
                {% endfor %}
                <div class="form__footer">
                    <button type="submit" class="button button_style_blue">Назначить новый пароль</button>
                </div>
            </form>
        </div>
    {% else %}
        <div class="main__header">
            <h1 class="main__title">Ошибка</h1>
        </div>
        <div class="custom-center-block">
            <p class="custom-text-block">Ссылка сброса пароля содержит ошибку или устарела.</p>
            <div class="custom-button-block">
                <a href="{% url 'index' %}"><button class="button button_style_blue">Перейти на главную</button></a>
            </div>
        </div>
    {% endif %}
{% endblock %}